<%= form_for [@movie, ranking] do |f| %>
  <%= render "partials/form_errors", model: ranking %>

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="bg-dark rounded p-3 w-100">
        <%= image_tag 'star-on.png' %>
        <%= f.select :mark, (1..10).map {|m| [m,m]}, class: 'form-control' %>

        <div class="float-right">
          <%= f.submit 'Rate this', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
