<%= form_for [@movie, ranking] do |f| %>
  <%= render "partials/form_errors", model: ranking %>

  <%= f.label :mark, 'Select from existing' %>
  <%= f.select :mark, (1..10).map {|m| [m,m]} %>

  <div class="actions">
    <%= f.submit 'Rate this' %>
  </div>
<% end %>
