<% if current_user_admin? %>
  <%= link_to 'Edit current movie', edit_movie_path, class: 'btn btn-primary mt-2' %>
<% end %>

<h1><%= @movie.title %></h1>
<div class="row">
  <div class="col-md-3">
    <div class="row mb-3">
      <%= render partial: 'movies/movie', object: @movie %>
    </div>
  </div>
  <div class="col-md-9">
    <p><%= @movie.description %></p>
    <div class="d-flex align-items-start flex-row bd-highlight">
      Category:
      <div class="category-item bg-dark rounded bd-highlight px-1 ml-1">
        <%= link_to @movie.category.title, category_path(@movie.category) %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'rankings/form', locals: { ranking: @new_ranking } %>

<%= @movie.rankings.average(:mark) %>